* {
    --s: 80px; /* the size */
    --c: #5E8C6A;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#BFB35A 68% 70%,#0000 72%;
    font-family: verdana;
}
 

body {
    background:
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
      radial-gradient(var(--_g) 0    75%,var(--_c)) var(--s) var(--s)/var(--_s),
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
      radial-gradient(var(--_g) 0    75%,var(--_c)) 0 0/var(--_s),
      repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s),
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s)
      var(--c);
    margin: 100px;  
  }
  
  .card{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative; 
    perspective: 1400px;
    left:0;
    transition: all 1s;
  }
  

  .left-card{
    position: relative;
    width: 100%;
    height: 100%;
    cursor:pointer;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: 0 0;
  }
  
  .left-card .card-back{
    background: fff;
    transform: rotateY(180deg);
  }

  .card.open .left-card {
    transform: rotateY(-180deg);
  }

  .card.open{
    left: 150px;
  }

  .left-card .card-front,
  .left-card .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
  }

  .right-card img,
  .left-card img{
    width: 100%;
  }

  .right-card{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    position:absolute;
    top:0;
    left: 0;
    z-index: 0;
  }

  @media (max-width: 767px) {
    
    .card{
      display: flexbox;
      width: 200px;
      height: 200px;
      margin: 0 auto;
    }
    .card.open{
      left: 100px;
    }
  }